<ul class="nav">
    <li class="nav-item active">
        <a href="index.html">
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <span class="badge badge-count">5</span>
        </a>
    </li>
    {% for item in links %}
        <li class="nav-item">
            {% if item.children %}
                <a data-toggle="collapse" href="#{{ item.name | slugify }}">
                    <i class="{{ item.icon }}"></i>
                    <p>{{ item.name }}</p>
                    <span class="caret"></span>
                </a>
                <div class="collapse" id="{{ item.name | slugify }}">
                    <ul class="nav nav-collapse">
                        {% for child in item.children %}
                            <li class="{{ child.active }}">
                                <a href="{{ child.url }}">
                                    <i class="{{ child.icon }}"></i>
                                    <span class="sub-item">{{ child.name }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a href="{{ item.url }}" class="{{ item.active }}">
                    <i class="{{ item.icon }}"></i>
                    <p>{{ item.name }}</p>
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
