{% extends "layouts/auth_default.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %} {{ block.super }} | Login {% endblock %}


{% block content %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="h3 mb-3 font-weight-semibold">Sign in</h2>
    </div>
    <div class="col-md-6">
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <!-- {{ form.as_p }} -->
        {% include "partials/form_template.html" with field=field %}
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign in">
      </form>
      <div class="row mt-3">
        <div class="col-6">
          <a href="{% url 'account_reset_password' %}"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="{# signup_url #}"><small>Create new account</small></a>
        </div>
      </div>

      <div class="d-flex align-items-center text-center pt-5">
        <hr class="w-100">
        <div class="px-3 w-100 text-nowrap font-weight-semibold">Or sign in using</div>
        <hr class="w-100">
      </div>

      <div class="text-center pt-4">
        <a class="social-btn sb-facebook mx-2 mb-3" href="" data-toggle="tooltip" title="Facebook"><i class="flaticon-facebook"></i></a>
        <a class="social-btn sb-google-plus mx-2 mb-3" href="{% provider_login_url 'google' %}" data-toggle="tooltip" title="Google"><i class="flaticon-google-plus"></i></a>
        <a class="social-btn sb-twitter mx-2 mb-3" href="#" data-toggle="tooltip" title="Twitter"><i class="flaticon-twitter"></i></a>
      </div>
<!--
      <div class="r/ow my-3">
        {% get_providers as socialaccount_providers %}
        <div class="social_providers_list">
        {% for provider in socialaccount_providers %}        
          <a title="{{provider.name}}" class="btn btn-outline-dark mb-2" style="width:100%;" 
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name}}" id="social_icon"></i>{{provider.name}}</a>        
        {% endfor %}
        </div>
      </div>


      <div class="row my-3 align-items-center">
        <div class="flex--item s-btn s-btn__muted s-btn__outlined s-btn__icon google-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Google&quot;,&quot;New Post&quot;,null,null]">
          <a class="btn btn-outline-secondary px-1" style="width:100%;" href="{% provider_login_url 'google' %}">
            <svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18" viewBox="0 0 18 18"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18Z" fill="#4285F4"></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17Z" fill="#34A853"></path><path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07Z" fill="#FBBC05"></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3Z" fill="#EA4335"></path></svg> Sign in using Google
          </a>
        </div>
                        
        <div class="mx-1 flex--item s-btn s-btn__muted s-btn__icon facebook-login" data-ga="[&quot;sign up&quot;,&quot;Sign Up Started - Facebook&quot;,&quot;New Post&quot;,null,null]">
          <a class="btn btn-outline-secondary px-1" style="width:100%;" href="">
            <svg aria-hidden="true" class="svg-icon iconFacebook" width="18" height="18" viewBox="0 0 18 18"><path d="M3 1a2 2 0 00-2 2v12c0 1.1.9 2 2 2h12a2 2 0 002-2V3a2 2 0 00-2-2H3Zm6.55 16v-6.2H7.46V8.4h2.09V6.61c0-2.07 1.26-3.2 3.1-3.2.88 0 1.64.07 1.87.1v2.16h-1.29c-1 0-1.19.48-1.19 1.18V8.4h2.39l-.31 2.42h-2.08V17h-2.5Z" fill="#4167B2"></path></svg> Sign in using Facebook
          </a>
        </div>
      </div>
-->

    </div>
  </div>
</div>
{% endblock %}